*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* START CSS FOR HEADER NAVBAR */

.header__top{
    border: 1px solid rgb(211, 201, 201);
    height: 35px;
}

.header__top--navbar {
    align-self: center;
    width: 70%;
    text-align: center;
    margin: 0 15%;
}

.header__top--navbar .top__navbar {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.top__navbar--item li {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
    align-self: center;
    line-height: 30px;
}

.top__navbar .top__navbar--item {
    text-decoration: none;
    margin: 5px 17px;
}

/* END CSS FOR HEADER NAVBAR */

/* START CSS FOR HEADER LOGO */

.header__bottom {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.2);
}

.header__bottom--logo {
    width: 35%;
    align-self: center;
}

.img_responsive {
    width: 100%;
}

/* END CSS FOR HEADER LOGO */

/* START CSS FOR HEADER bottom navbar */


.header__bottom--navbar .bottom__navbar {
    list-style-type: none;
    display: flex;
    align-self: center;
    width: 70%;
    text-align: center;
    margin: 20px 15%;
    margin-top: 20px;
    justify-content: space-around;
}

.bottom__navbar li a{
    color: black;
    text-transform: uppercase;
    margin: 0 5px;
    font-weight: bold;
    font-size: 17px;
}

.bottom__navbar li .subnav {
    display: none;
    list-style-type: none;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.2);   
    padding: 0;
}

.subnav li {
    text-align: end ;
    margin: 10px 0;
}

.subnav li a {
    font-weight: normal;
}

.subnav li:hover {
    color: #000;
    background-color: #ccc;
}

.bottom__navbar li:hover .subnav {
    display: block;
}

ul.subnav {
    position: absolute;
    z-index: 999999;
    background: white;
}

/* END CSS FOR HEADER bottom navbar */